@use 'variables' as *;
@use 'mixins' as *;

body {
  font-family: $ff-primary;
  background-color: theme-get('bg-clr');
  color: theme-get('font-clr');
  font-size: 16px;
  &.darkmode {
    background-color: theme-get('bg-clr', 'dark');
    color: theme-get('font-clr', 'dark');
  }
}

.wrapper {
  overflow-x: hidden;
  width: 660px;
  margin: 0 auto;
  box-shadow: 0px 0px 100px -10px rgba(0, 0, 0, 1);
}

.sections {
  display: flex;
  justify-content: flex-end;
}

@media (min-height: 926px) and (min-width: 660px) {
  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
  }
}

.darkmode {
  .wrapper {
    box-shadow: 0px 0px 100px -10px rgb(48, 48, 48);
  }
}
