*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input {
  border-style: none;
  background: transparent;
  outline: none;
}
button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
a {
  all: unset;
}

html {
  font-size: 62.5%;
  @media (min-width: 390px) {
    font-size: 68.75%;
  }
  @media (min-width: 615px) {
    font-size: 75%;
  }
  @media (min-width: 1024px) {
    font-size: 93.75%;
  }
  overflow-x: hidden;
}

body {
  background-color: $color-bg;
  font-family: $font-primary;
  color: $color-text-primary;
  font-size: $fs-sm;
  padding: 0 $space-md;
  overflow-x: hidden;
  @media (min-width: 1024px) {
    padding: 0 $space-xl;
    margin: 0 auto;
    max-width: 1280px;
  }
}

section {
  position: relative;
  padding-top: $space-lg;
  &::before,
  &:last-of-type::after {
    content: '';
    position: absolute;
    transform: translateX(-$space-xxs);
    width: calc(100% + #{$space-xxs * 2});
    height: 1px;
    background: $color-text-primary;
  }
  &::before {
    top: 0;
  }
  &:last-of-type::after {
    bottom: 0;
  }
}
