.education {
  @include section;
  &__school {
    font-size: $fs-ms;
  }
  &__date {
    font-size: $fs-sm;
  }
  &__details {
    font-family: $font-secondary;
    color: $color-text-secondary;
    opacity: 0;
    transform: translateY(-50px);
  }
  &.in-view &__details {
    animation: FadeInDown 1s ease-out forwards;
  }
}

@keyframes FadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
