.footer {
  margin-top: $space-md;
  &__title {
    text-align: center;
    font-size: $fs-rg;
  }
  .socials {
    @include socials-base;
    &__item {
      width: 10%;
      @media (min-width: 1024px) {
        width: 7%;
      }
    }
  }
}
