.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: $space-sm;
  text-align: center;
  @media (min-width: 1024px) {
    position: relative;
    text-align: left;
    height: auto;
    padding-bottom: 0;
    margin-bottom: $space-lg;
  }
  &__top {
    padding-top: $space-sm;
    margin: 0 $space-sm;
    background: linear-gradient(180deg, $color-bg 0%, $color-gradient 50%, $color-bg 100%);
    overflow: hidden;
    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      padding-top: $space-xxs;
      margin: 0;
      background: transparent;
    }
  }
  &__logo {
    font-weight: 500;
    @include fade-in(0.8s);
    @media (min-width: 1024px) {
      @include fade-in(0s, 0.8s);
    }
  }
  .socials {
    @include socials-base;
    @include fade-in(0.6s);
    @media (min-width: 1024px) {
      width: 20%;
      margin: 0;
      @include fade-in(0s, 0.8s);
    }
    &__item {
      width: 15%;
    }
  }
  &__avatar {
    display: flex;
    justify-content: center;
    @include fade-in(0.6s, 1s, 250px);
    img {
      height: 35vh;
    }
    @media (min-width: 1024px) {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      background: linear-gradient(180deg, $color-bg 0%, $color-gradient 50%, $color-bg 100%);
      transform: none;
      opacity: 1;
      animation: none;
      img {
        height: 70vh;
        max-height: 430px;
      }
    }
  }
  &__title {
    margin: $space-sm 0;
    font-size: $fs-lg;
    span {
      @include highlight();
    }
    @media (min-width: 1024px) {
      margin: $space-xl 0;
      width: 70%;
      font-size: $fs-xl;
    }
  }
  &__intro {
    font-family: $font-secondary;
    color: $color-text-secondary;
    @media (min-width: 1024px) {
      width: 50%;
      margin-bottom: $space-lg;
      font-size: $fs-xs;
    }
  }
  &__portfolio {
    font-size: $fs-lg;
    margin-top: auto;
    padding: $space-xxxxs 0;
    border: 2px solid $color-highlight;
    border-radius: 18px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    cursor: pointer;
    &:hover,
    &:active {
      background-color: $color-highlight;
      color: $color-bg;
      transform: scale(0.95);
    }
    @media (min-width: 1024px) {
      width: 40%;
      text-align: center;
      font-size: $fs-md;
    }
  }
}

@keyframes FadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
