@mixin highlight($thickness: 4px) {
  border-bottom: $thickness solid $color-highlight;
}

@mixin section {
  padding-bottom: $space-xxxs;

  &__title {
    text-align: center;
    font-size: $fs-xl;
    margin-bottom: $space-lg;
  }

  &__item {
    padding-bottom: $space-md;
  }
}

@mixin fade-in($delay: 0s, $duration: 1s, $translate: -250px) {
  transform: translateY($translate);
  opacity: 0;
  animation: FadeIn $duration ease-out forwards;
  animation-delay: $delay;
}
