.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: $space-xxxs;
  overflow: hidden;
  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__category {
    padding-bottom: $space-md;
    @media (min-width: 1024px) {
      width: 30%;
    }
    h3 {
      font-size: $fs-xl;
      transform: translateY(550px);
      opacity: 0;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      transform: translateX(270px);
      opacity: 0;
      li {
        font-size: $fs-xs;
        font-family: $font-secondary;
        color: $color-text-secondary;
      }
    }
    @media (min-width: 1024px) {
      h3,
      ul {
        animation: none;
        transform: none;
        opacity: 1;
      }
    }
  }
  &.in-view &__category {
    h3 {
      animation: fadeInUp 1s ease-out forwards;
    }
    ul {
      animation: fadeInRight 0.5s ease-out forwards;
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        h3 {
          animation-delay: ($i - 1) * 0.5s;
        }
        ul {
          animation-delay: (($i - 1) * 0.5s) + 1s;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
