.skills {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: $space-xxxs;
  overflow: hidden;
  @media (min-width: 1024px) {
  }
  &__category {
    width: 50%;
    padding-bottom: $space-md;
    @media (min-width: 1024px) {
      display: flex;
      width: 100%;
    }
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 54px;
      font-size: $fs-ms;
      transform: translateY(550px);
      opacity: 0;
      @media (min-width: 1024px) {
        text-align: left;
        max-width: 260px;
      }
    }
    ul {
      list-style-type: none;
      margin-top: $space-xxs;
      padding-left: 0;
      transform: translateX(-270px);
      opacity: 0;
      @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
      }
      li {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: $fs-sm;
        padding-bottom: $space-xxs;
        @media (min-width: 1024px) {
          width: 32%;
        }
        span {
          width: 100%;
          font-size: $fs-xs;
          font-family: $font-secondary;
          color: $color-text-secondary;
        }
      }
    }
    &:last-child {
      ul {
        transform: translateX(270px);
      }
    }
    @media (min-width: 1024px) {
      h3,
      ul,
      &:last-child ul {
        animation: none;
        transform: none;
        opacity: 1;
      }
    }
  }
  &.in-view &__category {
    h3 {
      animation: fadeInUp 1s ease-out forwards;
    }
    ul {
      animation: fadeInSide 0.5s 0.7s ease-out forwards;
    }
  }
}

@keyframes fadeInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInSide {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
