$ff-primary: 'Montserrat', sans-serif; // 100-900
$ff-header: 'Poppins', sans-serif; // 400,700
$ff-portfolio: 'Libre Franklin', sans-serif; // 100-900

$themes: (
   light: (
      bg-clr: #ffffff,
      primary-clr: #043382,
      header-clr2: #042b6b,
      header-font-clr: #ffffff,
      font-clr: #000000,
      sectionL-clr: #191919,
      sectionL-font-clr: #ffffff,
      btn-clr: #4c7ed4,
      accordion-bg: hsl(0, 0%, 10%, 0.93),
   ),
   dark: (
      bg-clr: #191919,
      font-clr: #dddddd,
      sectionL-clr: #000000,
      sectionL-font-clr: #eeeeee,
      btn-clr: #00b4d8,
      accordion-bg: hsl(0, 0%, 90%, 0.93),
   ),
);
