$ff-primary: 'Montserrat', sans-serif; // 100-900
$ff-header: 'Poppins', sans-serif; // 400,700
$ff-portfolio: 'Libre Franklin', sans-serif; // 100-900

$bg-color: #ffffff;
$primary-color: #043382;

$header-clr2: #042b6b;
$font-clr: #ffffff;

$sectionL-color: #191919;
$btn-color: #4c7ed4;

$accordion-bg: hsl(0, 0%, 10%, 0.93);
